---
import { ExternalLink } from "lucide-astro";

interface Props {
  era: number;
  id: string;
  category: string;
  no: string;
  title: string[];
}

const { era, id, category, no, title } = Astro.props;
---

<article class="flex flex-col gap-5 rounded-5 border border-blue p-10">
  {
    title.length > 2 ? (
      <>
        <h3 class="text-header text-xl/1.5">
          {id}
          {category !== "หน้าหลัก" && (
            <>
              — <span>{no}</span>
            </>
          )}
        </h3>
        <hr class="border-t-blue border-dashed" />
        <p
          class:list={[
            "whitespace-pre-line text-sm/1.6 tracking-[0.1px]",
            { "preview-text mb-5": title.length > 2 },
          ]}
        >
          <Fragment set:html={title.slice(0, 6).join("\n")} />
        </p>
        <div class="absolute bottom-10 inset-x-0">
          <a
            class="btn btn-primary btn-outline btn-sm flex items-center gap-5 w-fit mx-auto bg-gray text-sm/1"
            href={`/${era}/${id}`}
          >
            อ่านบันทึกเต็ม
            <ExternalLink size={16} />
          </a>
        </div>
      </>
    ) : (
      <>
        <h3 class="text-header text-xl/1.5">
          {id}
          {category !== "หน้าหลัก" && (
            <>
              — <span>{no}</span>
            </>
          )}
        </h3>
        <hr class="border-t-blue border-dashed" />
        {title.length > 0 && (
          <p class:list={["whitespace-pre-line text-sm/1.6 tracking-[0.1px]"]}>
            <Fragment set:html={title.join("\n")} />
          </p>
        )}
        <a
          class="btn btn-primary btn-outline btn-sm text-sm/1 inline-flex items-center gap-5 mx-auto [hr+&]:mt-5"
          href={`/${era}/${id}`}
        >
          อ่านบันทึกเต็ม
          <ExternalLink size={16} />
        </a>
      </>
    )
  }
</article>

<style>
  .preview-text::after {
    content: "";
    height: calc(14px * 1.6 * 2); /* 2 lines */
    @apply absolute inset-x-0 bottom-0 bg-gradient-to-t from-gray to-gray/0;
  }
</style>
